{
    "presets":[
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "targets":"defaults"
            }
        ]    
    ],
    "targets":{
        "electron":"16.0.6"
    }
}